## 01 Reverse a list

In [17]:
input_string = input("Enter the string:  ")
string_list = input_string.split(" ")
print("\n")
print("Printing String:")
for name in string_list:
    string_list.reverse()
    print(string_list)
    break

my_list = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
	ele = int(input())

	my_list.append(ele) 
	
print(my_list)
my_list.reverse()
print(my_list)

Enter the string:  How ya doin'!


Printing String:
["doin'!", 'ya', 'How']
Enter number of elements : 5
1
23
34
26
1
[1, 23, 34, 26, 1]
[1, 26, 34, 23, 1]

## 02 Concatenate two lists index-wise.

In [9]:
input_string1 = input("Enter the string:  ")
string_list1 = input_string1.split(" ")
print("\n")
print("Printing String:")
for name in string_list1:
    print(string_list1)
    break
input_string2 = input("Enter the string:  ")
string_list2 = input_string2.split(" ")
print("\n")
print("Printing String:")
for name in string_list2:
    print(string_list2)
    break
print ("The original list 1 is : " + str(string_list1))
print ("The original list 2 is : " + str(string_list2))
res = [i + j for i, j in zip(string_list1, string_list2)]
print ("The list after element concatenation is : " + str(res))

Enter the string:  Paisa  Paisa


Printing String:
['Paisa', '', 'Paisa', '', '']
Enter the string:   hi  hoga


Printing String:
['', 'hi', '', 'hoga']
The original list 1 is : ['Paisa', '', 'Paisa', '', '']
The original list 2 is : ['', 'hi', '', 'hoga']
The list after element concatenation is : ['Paisa', 'hi', 'Paisa', 'hoga']

## 03Turn every number of a list into its square

In [23]:
my_list = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
	ele = int(input())

	my_list.append(ele) 
	
print(my_list)
my_squared_list=[int(my_list[i])**2 for i in range(len(my_list))]
print(my_squared_list)

Enter number of elements : 2
5
6
[5, 6]
[25, 36]

## 04 Remove empty strings from the list of strings.

In [25]:
input_string = input("Enter the string:  ")
string_list = input_string.split(" ")
print("\n")
print("Printing String:")
for name in string_list:
    print(string_list)
    break

# Printing original list
print("Original list is : " + str(string_list))

# using remove() to
# perform removal
while("" in string_list):
	string_list.remove("")

# Printing modified list
print("Modified list is : " + str(string_list))

Enter the string:        Goodness  gracious, great   balls of    fire


Printing String:
['', '', '', '', '', '', 'Goodness', '', 'gracious,', 'great', '', '', 'balls', 'of', '', '', '', 'fire']
Original list is : ['', '', '', '', '', '', 'Goodness', '', 'gracious,', 'great', '', '', 'balls', 'of', '', '', '', 'fire']
Modified list is : ['Goodness', 'gracious,', 'great', 'balls', 'of', 'fire']

## 05 Add a list of elements to a set.

In [16]:
user_input_list = input("Enter a list of numbers and/or strings: ")
user_list = user_input_list.split(",")
user_list = [int(x) if x.isdigit() else x for x in user_list]
user_input_set = input("Enter a set of numbers and/or strings: ")
user_set = set(user_input_set.split(","))
user_set = {int(x) if x.isdigit() else x for x in user_set}
user_set.update(user_list)
print(user_set)

Enter a list of numbers and/or strings separated by commas: Rise,of,Water
Enter a set of numbers and/or strings separated by commas: Avatar,2
{'of', 2, 'Rise', 'Water', 'Avatar'}

## 06 Return a set of elements present in Set A or B, but not both

In [17]:
set_a = set(input("Enter the elements of Set A: ").split())

set_b = set(input("Enter the elements of Set B: ").split())

#difference
result_set = set_a ^ set_b

print("The elements present in Set A or Set B, but not both, are:", result_set)

Enter the elements of Set A, separated by spaces: 1 23 45 35 6 46
Enter the elements of Set B, separated by spaces: 1 23245 6 46
The elements present in Set A or Set B, but not both, are: {'35', '23', '45', '23245'}

## 07 Convert two lists into a dictionary.

In [18]:
keys = input("Enter keys : ").split(" ")
values = input("Enter values : ").split(" ")

my_dictionary = dict(zip(keys, values))
print(my_dictionary)

Enter keys : November June
Enter values : Too_cold Too_hot
{'November': 'Too_cold', 'June': 'Too_hot'}

## 08 Merge two Python dictionaries into one

In [1]:
import json
print("Information regarding first dictionary")
keys1 = input("Enter keys for the first dictionary : ").split(" ")
values1 = input("Enter values for the first dictionary : ").split(" ")
dictionary_str1 = dict(zip(keys1, values1))
print(dictionary_str1)
print("Information regarding second dictionary")
keys2 = input("Enter keys for the second dictionary : ").split(" ")
values2 = input("Enter values for the second dictionary : ").split(" ")
dictionary_str2 = dict(zip(keys2, values2))
print(dictionary_str2)

merged_dictionary = dictionary_str1.copy()
merged_dictionary.update(dictionary_str2)

print("Merged dictionary:", merged_dictionary)

Information regarding first dictionary
Enter keys for the first dictionary : a b
Enter values for the first dictionary : 1 2
{'a': '1', 'b': '2'}
Information regarding second dictionary
Enter keys for the second dictionary : c d
Enter values for the second dictionary : 3 4
{'c': '3', 'd': '4'}
Merged dictionary: {'a': '1', 'b': '2', 'c': '3', 'd': '4'}

## 09 Rename a key of a dictionary

In [5]:
Batman_roles = {'Ben_Affleck': 'Batman'}
new_key = 'Robert_Pattinson'


Batman_roles[new_key] = Batman_roles.pop('Ben_Affleck')


print(Batman_roles)

{'Robert_Pattinson': 'Batman'}

## 10 Sort a tuple of tuples by 2nd item.

In [6]:
input_tuple = input("Enter a comma-separated list of tuples: ")
my_tuple = tuple(tuple(map(str.strip, item.split(','))) for item in input_tuple.split(';'))
sorted_tuple = sorted(my_tuple, key=lambda x: x[1])
print(sorted_tuple)

Enter a comma-separated list of tuples: python,1;c++,2;php,3;html,4
[('python', '1'), ('c++', '2'), ('php', '3'), ('html', '4')]