## 01 Display Float Number

In [4]:
num =float(input("Enter the Number: "))
print("The number is {:.2f}".format(num))

Enter the Number: 2.564
The number is 2.56

## 02 Display List of FLoat Numbers

In [8]:
user_input = input('Enter elements of a list separated by space ')
user_list = user_input.split()
print('list: ', user_list)

Enter elements of a list separated by space 2 334 564567
list:  ['2', '334', '564567']

## Print Natural Numbers

In [10]:
n=int(input("Enter the Range:"))
i = 1
while(i<=n):
    print(i)
    i += 1

Enter the Range:25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

## Reverse serial

In [12]:
n = int(input("Enter the Range:"))
for i in range(-n, 0):
    print(i)

Enter the Range:10
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## Count Digits in a Number

In [14]:
num =  int(input("Enter the Number:"))
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Enter the Number:25649798
Number of digits: 8

## Factorial

In [15]:
num = int(input("Enter the Number:"))
factorial = 1
if num < 0:
   print("Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter the Number:8
The factorial of 8 is 40320

## Print Triangle Numbers

In [16]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5