## 01 Area of Circle

In [5]:
import numpy as np
import pandas as pd
import math as m

In [2]:
r = float(input ("Input the radius of the circle : "))
Area= m.pi*(r**2)
print("Area of the circle=",Area)

Input the radius of the circle : 5
Area of the circle= 78.53981633974483

# 02 Function for Comparison

In [2]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
n3 = int(input("Enter third number: "))
 
if (n1 > n2) and (n1 > n3):
   largest = n1
elif (n2 > n1) and (n2 > n3):
   largest = n2
else:
   largest = n3
 
print("The largest number is",largest)

Enter first number: 45
Enter second number: 5654
Enter third number: 555555
The largest number is 555555

## 03 Convert vowes in 1 and Consonants in 0

In [3]:
def convert_vowels_to_1_consonants_to_0(input_string):
    vowels = 'aeiou'
    output_string = ''
    for char in input_string:
        if char.lower() in vowels:
            output_string += '1'
        else:
            output_string += '0'
    return output_string

input_string = input("enter the word")
output_string = convert_vowels_to_1_consonants_to_0(input_string)
print(output_string)

enter the wordtough
01100

## 04 Calculator

In [8]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y

choice = input("choose(1.additio/ 2.subtraction/ 3.Multiplication/ 4.Dvision): ")    

x = float(input("Enter First Number:"))
y = float(input("Enter Second Number:"))

if choice == '1':    
   print(x,"+", y,"=",add(x,y))    
    
if choice == '2':    
   print(x,"-", y,"=",sub(x,y))     
    
if choice == '3':    
   print(x,"*", y,"=",mul(x,y)) 

if choice == '4':    
   print(x,"/", y,"=",div(x,y))

choose(1.additio/ 2.subtraction/ 3.Multiplication/ 4.Dvision): 1
Enter First Number:456843597
Enter Second Number:646465546
456843597.0 + 646465546.0 = 1103309143.0

## 05 String iterate

In [2]:
print("Input ")
string = str(input())
result = string+string

print ("Repeated String Output: ",result)

Input a string
hi
Repeated String Output:  hihi

## 06

In [2]:
input_list = ["ux1P5", "rt0", "ft3", "z1aP"]
output_list = list(filter(lambda x: 'P' in x, input_list))
print(output_list)

['ux1P5', 'z1aP']

In [3]:
input_list = ["ux1P5", "rt0", "ft3", "z1aP"]
output_list = list(map(lambda x: x + 'P' if 'P' not in x else x, input_list))
print(output_list)

['ux1P5', 'rt0P', 'ft3P', 'z1aP']

In [6]:
from functools import reduce
input_list = [1, 2, 3, 4,5,6]
output = reduce(lambda x, y: x+y, input_list)
print([output])

[21]

In [7]:
input_list = [1, 2, 3, 4,5,6,7,8]
output = sum(input_list)
print([output])

[36]

# 07 Dataset

In [6]:
file = pd.read_csv("wine.csv")
file.head(10)

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361

In [7]:
print(file.loc[6,"sort_sequence"])
file2 = file.loc[0:9]

363

In [60]:
file2 = file.loc[0:9]
print(file2)

   Unnamed: 0 item_code                                          item_name  \
0           0       AA0                               All items - old base
1           1      AA0R  Purchasing power of the consumer dollar - old ...
2           2       SA0                                          All items
3           3      SA0E                                             Energy
4           4     SA0L1                                All items less food
5           5    SA0L12                    All items less food and shelter
6           6   SA0L12E           All items less food, shelter, and energy
7           7  SA0L12E4  All items less food, shelter, energy, and used...
8           8    SA0L1E                     All items less food and energy
9           9     SA0L2                             All items less shelter

   display_level selectable  sort_sequence
0              0          T              2
1              0          T            400
2              0          T              1
3              1          T            375
4              1          T            359
5              1          T            362
6              1          T            363
7              1          T            364
8              1          T            360
9              1          T            361

In [8]:
file2.to_pickle("pick.pkl")

In [11]:
file3  = pd.read_pickle("pick.pkl")
print(file3)

   Unnamed: 0 item_code                                          item_name  \
0           0       AA0                               All items - old base
1           1      AA0R  Purchasing power of the consumer dollar - old ...
2           2       SA0                                          All items
3           3      SA0E                                             Energy
4           4     SA0L1                                All items less food
5           5    SA0L12                    All items less food and shelter
6           6   SA0L12E           All items less food, shelter, and energy
7           7  SA0L12E4  All items less food, shelter, energy, and used...
8           8    SA0L1E                     All items less food and energy
9           9     SA0L2                             All items less shelter

   display_level selectable  sort_sequence
0              0          T              2
1              0          T            400
2              0          T              1
3              1          T            375
4              1          T            359
5              1          T            362
6              1          T            363
7              1          T            364
8              1          T            360
9              1          T            361